body{
    font:1.2em normal Arial,sans-serif;
    color:#ffffff;
  }
  
  h1{
    text-align:center;
    text-transform:uppercase;
    letter-spacing:-2px;
    font-size:2.5em;
    margin:20px 0;
  }
  
  .container{
    width:90%;
    margin:auto;
  }
  
  table{
    border-collapse:collapse;
    width:100%;
  }
  
  .blue{
    border:2px solid #1ABC9C;
  }
  
  .blue thead{
    background:#1ABC9C;
  }
  
  .purple{
    border:2px solid #9B59B6;
  }
  
  .purple thead{
    background:#9B59B6;
  }
  
  thead{
    color:white;
  }
  
  th,td{
    text-align:center;
    padding:5px 0;
  }
  
  tbody tr:nth-child(even){
    background:#004e11;
  }
  
  tbody tr:hover{
  background:#1a964a;
    color:#FFFFFF;
  }
  
  .fixed{
    top:0;
    position:fixed;
    width:auto;
    display:none;
    border:none;
  }
  
  .scrollMore{
    margin-top:600px;
  }
  
  .up{
    cursor:pointer;
  }